<h1>Register</h1>
<%- include("../partials/messages") %>
<form action="/users/register" method="POST">
    <div>
        <label for="firstName">First Name</label>
        <input type="name" name="firstName" placeholder="Enter First Name" value="<%= typeof firstName != 'undefined' ? firstName : '' %>">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="name" name="lastName" placeholder="Enter Last Name" value="<%= typeof lastName != 'undefined' ? lastName : '' %>">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Enter Email" value="<%= typeof email != 'undefined' ? email : '' %>">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Enter Password" value="<%= typeof password != 'undefined' ? password : '' %>">
    </div>
    <div>
        <label for="password2">Confirm Password</label>
        <input type="password" name="password2" placeholder="Re-enter Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Register</button>
</form>
<p>Have an Account? <a href="/users/login">Login</a></p>